### Objective
To use sklearn Naive Bayes classifer.<br>
Dataset: Use diabetes dataset provided herewith.

In [17]:
import pandas as pd
import numpy as np

In [18]:
# Load the iris dataset
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
print(type(df))
# Notice the type of 'data'

<class 'pandas.core.frame.DataFrame'>

In [20]:
X = df.drop('Pregnancies',axis=1)

In [21]:
X

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [22]:
y = df['Age']
y

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [23]:
# Split data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=1)  # experiment with different random_state values

In [24]:
X_train.shape

(576, 8)

In [25]:
X_test.shape

(192, 8)

In [26]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

# Train 'model' on our dataset
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [27]:
# Use the trained 'model' for prediction
y_predict = model.predict(X_test)

In [28]:
y_predict     # predicted labels

array([51, 22, 27, 46, 25, 22, 29, 24, 30, 22, 39, 36, 25, 50, 21, 50, 32,
       40, 23, 25, 45, 32, 47, 40, 23, 45, 28, 32, 27, 22, 21, 31, 26, 26,
       32, 46, 22, 27, 38, 42, 22, 23, 22, 33, 26, 21, 52, 25, 23, 31, 22,
       28, 36, 22, 45, 23, 23, 58, 63, 46, 34, 21, 46, 24, 31, 22, 37, 52,
       41, 52, 41, 26, 26, 22, 45, 29, 31, 27, 21, 29, 37, 24, 54, 27, 32,
       37, 43, 48, 26, 31, 21, 22, 23, 24, 36, 28, 31, 29, 25, 22, 24, 22,
       52, 21, 24, 37, 39, 65, 21, 25, 33, 21, 28, 25, 41, 21, 32, 42, 23,
       37, 27, 41, 50, 31, 21, 28, 43, 32, 60, 26, 54, 21, 32, 24, 33, 22,
       42, 37, 22, 66, 22, 25, 30, 32, 50, 46, 22, 41, 38, 32, 28, 43, 67,
       31, 40, 38, 45, 65, 29, 25, 60, 35, 22, 25, 38, 42, 27, 39, 50, 45,
       41, 41, 21, 25, 30, 67, 39, 26, 30, 37, 43, 26, 23, 50, 25, 41, 32,
       23, 25, 28, 41, 21], dtype=int64)

In [29]:
y_test        # actual lables

285    51
101    22
581    27
352    46
726    25
       ..
247    23
189    25
139    28
518    41
629    21
Name: Age, Length: 192, dtype: int64

In [30]:
# Compute accuracy

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_predict)
print("Accuracy = ", accuracy)

Accuracy =  0.9322916666666666

In [31]:
# Exercise:

# Predict class lable for a new data point.
x_dash = [45,70]
df=pd.DataFrame(x_dash)
#predict
y_dash_predict=model.predict(df)
print(y_dash_predict)

[45 60]